---

---

<footer>
	<p>&copy; 2023 Jun San Antonio</p>
</footer>

<style>
  footer {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		margin-top: auto;
		padding: 3rem 2rem 3rem;
		text-align: center;
	}
</style>