---
import { Image } from 'astro:assets';
import profileImage from '../images/profile-image.png';

---
<header>
  <div class="limited">
    <div class="bg"></div>
    <div class="info">
      <Image src={profileImage} alt="Jun" class="avatar" />
      <div>
        <h2>Jun San Antonio</h2>
        <ul class="meta">
          <li>Photographer</li>
          <li>Nature Lover</li>
        </ul>
      </div>
    </div>
  </div>
</header>

<style>
  @layer reset {
    :is(header) *,
    body {
      margin: 0;
      padding: 0;
    }
    :is(header) ul[class] {
      list-style: none;
    }
  }

  @layer layout {
    :is(header) {
      font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
    }
    header {
			position: sticky;
			top: 0;
			background: #fff;
			display: flex;
			flex-direction: column;
			z-index: 2;
		}

    .col {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .limited {
      width: 90vw;
      max-width: 1200px;
      margin: 0 1rem;
    }

    .bg {
      position: absolute;
      inset: 0;
      top: auto;
      height: 13rem;
      background:
        linear-gradient(to bottom, #fff6 0%, #fff 80%),
        url("images/header-image.jpg") repeat-x 50% 100% / 650px auto;
      z-index: -1;
    }
  }

  @layer components {
    .info {
      display: grid;
      align-items: end;
      grid-template-columns: 8em 1fr;
      gap: 2rem;
      height: 12rem;
    }

    .info h2 {
      font-size: 2rem;
    }

    .avatar {
      border-radius: 50%;
      border: 0.3rem solid white;
      float: left;
      width: 100%;
      height: auto;
    }
    .meta {
      display: flex;
      flex-direction: row;
      gap: 0.75rem;
      font-style: italic;
      padding-bottom: 0.75rem;
      opacity: 0.8;
    }
  }
</style>

<style>
  @keyframes adjust-info {
    to {
      grid-template-columns: 4em 1fr;
      gap: 1rem;
      height: 4.75rem;
    }
  }
  @keyframes shrink-name {
    to { font-size: 1.5rem; }
  }
  @keyframes add-shadow {
    to { box-shadow: 0 5px 5px -3px rgba(0,0,0,.26); }
  }

  @keyframes move-and-fade-background {
    to {
      translate: 0% -5%;
      scale: 0.96;
      opacity: 0.3;
    }
  }

  @supports (animation-timeline: scroll()) {
    .info {
      animation: adjust-info linear both;
    }
    .info h2 {
      animation: shrink-name linear both;
    }
    header {
      animation: add-shadow linear both;
    }
    .bg  {
      animation: move-and-fade-background linear both;
    }

    .info, h2, header, .bg {
      animation-timeline: scroll();
      animation-range: 0 150px;
    }
  }

  @supports not (animation-timeline: scroll()) {
    header {
      box-shadow: 0 5px 5px -3px rgba(0,0,0,.26);
    }
  }
</style>